stages:
  - build
  - deploy

variables:
  DOCKER_IMAGE: $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG

build_image:
  stage: build
  image: docker:24.0.5
  services:
    - docker:24.0.5-dind
  before_script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
    - docker build -t $DOCKER_IMAGE .
    - docker push $DOCKER_IMAGE
  only:
    - main

deploy_to_render:
  stage: deploy
  image: curlimages/curl:latest
  script:
    - |
      if [ -n "$RENDER_DEPLOY_HOOK" ]; then
        curl -X POST "$RENDER_DEPLOY_HOOK"
      else
        echo "RENDER_DEPLOY_HOOK not set. Skipping deployment."
      fi
  only:
    - main
